/* Vos customisations des classes de Bootstrap */
* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
}

nav {
    background-color: #393a3a;
    display: flex;
    padding: 10px;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: aliceblue;
}

nav ol {
    display: flex;
    list-style: none;
    font-variant: small-caps;
    font-size: 1rem;
    align-items: center;
    gap: 30px;
}

#home {
    height: 700px;
    background-image: url("../images/hero-image.jpg");

    p {
        font-family: sans-serif;
        font-weight: 100;
        color: white;
        text-align: center;
        padding: 0 20%;
    }

    span {
        font-variant: small-caps;
        font-weight: 700;
        font-size: 1, 5rem;
    }
}

/* grossir hour of code et code.org et attention au .org plus gras */
/* est ce que police et graisse police changent avec nesting */
h1 {
    font-family: "Arvo", serif;
    font-weight: 500;
    font-size: 3rem;
    color: white;
    text-align: center;
    padding: 5% 25% 5%;
}

#home button {
    font-family: sans-serif;
    font-weight: 500;
    border: none;
    line-height: 3;
    padding: 0 20px;
    color: aliceblue;
    border-radius: 3px;
    background-color: #d9534f;
    /* ameliorer bouton */
    flex-direction: column;
    justify-content: center;
    margin-bottom: 40px;
}

a {
    text-decoration: none;
}

a:hover {
    color: black;
    background: yellow;
  }

.learn {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
}

#who, #get-involved{
    height: 350px;
    padding: 5%;
    h2{
        font-family: "Arvo";
        text-align: center;
        color: #d9534f;
        font-variant: small-caps;
        font-weight: 500;
        margin-bottom: 10px;
    }
    hr{
        border: 1px solid #d9534f;
        width: 6%;
        display: flex;
        justify-self: center;      
    }
}

#who {
    img{
        display: flex;
        justify-self: center;
    }
    p{
        font-family: sans-serif;
        font-weight: 100;
        color:black;
        text-align: center;
        padding: 2% 20%;
    }
}

.orange{
color: #d9534f;
}


/* Responsive Styling */

@media (max-width: 1199px) {}

@media (max-width: 991px) {}

@media (max-width: 767px) {}