/* Vos customisations des classes de Bootstrap */
* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
}

.orange {
    color: #d9534f;
}

nav {
    background-color: black;
    display: flex;
    padding: 10px;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: aliceblue;
}

nav ol {
    display: flex;
    list-style: none;
    font-variant: small-caps;
    font-size: 1.2rem;
    align-items: center;
    gap: 30px;
}

#home {
    height: 700px;
    background-image: url("../images/hero-image.jpg");

    p {
        font-family: sans-serif;
        font-weight: 100;
        color: white;
        text-align: center;
        padding: 0 20%;
    }

    span {
        font-variant: small-caps;
        font-weight: 700;
        font-size: 1, 5rem;
    }
}

/* grossir hour of code et code.org et attention au .org plus gras */
/* est ce que police et graisse police changent avec nesting */
h1 {
    font-family: "Arvo", serif;
    font-weight: 500;
    font-size: 3rem;
    color: white;
    text-align: center;
    padding: 5% 25% 5%;
}

#home button {
    font-family: sans-serif;
    font-size: 1.2rem;
    border: none;
    line-height: 2;
    padding: 0 15px;
    color: aliceblue;
    border-radius: 3px;
    background-color: #d9534f;
    /* ameliorer bouton + corriger hover */
    flex-direction: column;
    justify-content: center;
    margin-bottom: 40px;
}

a {
    text-decoration: none;
}

/* a:hover { 
    background-color: aliceblue;
}
    */

.learn {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5%;
}

/* changer les espaces padding en gap si possible */
#who,
#get-involved {
    h2 {
        font-family: "Arvo";
        text-align: center;
        color: #d9534f;
        font-variant: small-caps;
        font-weight: 500;
        padding-bottom: 0.5%;
        font-size: 1.7em;
    }

    hr {
        border: 0.1em solid #d9534f;
        width: 7%;
        display: flex;
        justify-self: center;
    }

}

#who {
    padding: 2% 0 5%;
    height: 250px;

    img {
        display: flex;
        justify-self: center;
        margin-bottom: 2%;
    }

    p {
        font-family: sans-serif;
        font-weight: 100;
        color: black;
        text-align: center;
        padding: 3% 20%;
    }
}

#get-involved {
    padding: 2% 5%;
    height: 400px;
    background-color: #f5f5f5;

    h3 {
        font-family: "Arvo";
        color: #d9534f;
        font-variant: small-caps;
        font-weight: 500;
        font-size: 1.5em;
    }
}

.cards {
    display: flex;
    justify-content: space-around;
}

.cards article {
    width: 33%;
    display: flex;
    flex-direction: column;
    padding: 3%;
    gap: 20px;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    font-family: sans-serif;
    font-weight: 100;
}

.cards button {
    font-family: sans-serif;
    border-width: 0.1em;
    line-height: 2;
    padding: 0 15px;
    color: #d9534f;
    border-radius: 3px;
    background-color: aliceblue;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 40px;
}
/* corriger alignements des items et taille image avec rendering ? */

.icone {
    width: 100px;
}

footer{
    background-color:#d9534f;
    height: 150px;
/* Attention image en fixed a changer */
    img{
    position: fixed;
    bottom: 30px;
    left: 150px;
    }
}

/* Responsive Styling */

@media (max-width: 1199px) {}

@media (max-width: 991px) {}

@media (max-width: 767px) {}